<!DOCTYPE html>

<p class="text-md text-center font-semibold">{{title}}</p>
<div class="breadcrumbs text-sm">
    <ul class="animation: uk-animation-fade">
        <li>
            <a hx-get="/project/inventory/{{project._id}}" hx-target="#project-inventories">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="h-4 w-4 stroke-current worker">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                </svg>
                Project Inventories <span class="badge badge-primary badge-xs">{{ project.inventories | length }}</span>
            </a>
        </li>
        <li>
            <span class="inline-flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="h-4 w-4 stroke-current worker">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                </svg>
                <button type="button" class="btn btn-ghost btn-xs" popovertarget="popover-5" style="anchor-name:--anchor-5">
                    Filter by material
                </button>
                <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm" popover id="popover-5"
                    style="position-anchor:--anchor-5">
                    <li><a>Material</a></li>
                    {% for key in project.inventories.keys() %}
                    <li><a hx-get="/project/inventory/{{project._id}}/{{ key }}"
                            hx-target="#project-inventories" hx-trigger="click">
                            <span class="text-xs bg-base-200 flex flex-row">{{ key }} <span
                                    class="badge badge-xs badge-ghost mx-2">2</span></span>
                        </a></li>
                    {% endfor %}
                </ul>
            </span>
        </li>
        <li>
            <span class="inline-flex items-center gap-2">
                <span class="fa fa-search h-4 w-4 stroke-current worker">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                </span>
                <input type="search" name="search-rates" placeholder="Search" class="input-xs rounded-sm input-info" />
            </span>
        </li>
        <li>
            <span class="inline-flex items-center gap-2" onclick="new_inventory.showModal()">
                <svg xmlns=" http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    class="h-4 w-4 stroke-current worker">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
                    </path>
                </svg>
                New Inventory
            </span>
        </li>

        <li>
            <span class="inline-flex items-center gap-2">
                <span class="fa fa-print worker"></span>
                Print Inventory
            </span>
        </li>
    </ul>
</div>

{% if project.state.active or project.state.complete or project.state.pause or project.state.terminate %}

<div id="project-inventories" class="overflow-y-auto sm:overflow-x-auto h-96 p-5">
    {% include 'components/project/inventory/InventoryTable.html' %}
</div>

<dialog id="new_inventory" class="modal">
    <div class="modal-box w-8/12 max-w-5xl">
        <h3 class="text-sm font-bold">Create Material Inventory</h3>
        <ul class="list bg-base-100 rounded-box shadow-md">
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Workers Pool</li>
            
        </ul>
        <div class="modal-action">
            <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button type="button" class="btn">Close</button>
            </form>
        </div>
    </div>
</dialog>
{% else %}
{% include '/components/project/inventory/InventoryIntroduction.html' %}
{% endif %}