.checked {
    color: orange;
}
.done {
    color: rgba(1, 252, 34, 0.919);
}
.task {
    color: rgb(67, 139, 222);
}
.bill {
    color: rgb(39, 114, 66);
}
.crew {
    color: rgb(186, 14, 238);
}
.event {
    color: rgb(8, 211, 163);
}
.worker {
    color: rgb(225, 208, 11);
}
.job {
    color: rgb(233, 117, 8);
}

.project {
    color: rgba(9, 73, 212, 0.822);
}
.delete {
    color: rgba(238, 29, 10, 0.865);
}
.inventory {
    color: deeppink;
}
