

{% macro loanpayment( payments ) -%}
   {% if payments %}
    {% if payments |length > 1 %}
        <table>
            <thead>
                
                <tr></tr></thead>
            <tbody>
                {% for item in payments %}
                <tr>
                    {% for key, val in item.items() %}
                    <td><strong>{{key}}</strong> {{ val }}</td>
                    {% endfor %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if  payments[0].get('resolved') %}
        <span class="text-sm font-semibold tooltip" style="color: green;" 
        data-tip="Repaid {{payments[0].get('amount') | to_dollars }} on {{payments[0].get('date') }}">Repaid</span>
        {% else %}
        <div class="text-sm font-semibold" style="color: green;">{{ payments[0] }}</div>
        {% endif %}
            
    {% endif %}
   {% else %}
   <span class="text-sm font-semibold" style="color: rgba(241, 5, 5, 0.973);">Unpaid</span>
   {% endif %}
{%- endmacro %}


{% macro activeState ( state ) -%}
   {% if state.active %}
   <span class="text-md text-green-500 font-semibold" style="color: green;">Active</span>
   {% elif state.complete %}
   <span class="text-md text-green-500 font-semibold" style="color: rgba(15, 135, 233, 0.973);">Completed</span>
   {% elif state.pause %}
   
    <div>
        <div class="uk-button-group">
            <span class="text-md text-green-500 font-semibold" style="color: rgba(25, 21, 248, 0.979);">Paused</span>
            
        </div>
    </div>
   {% elif state.terminate %}
   <span class="text-md text-green-500 font-semibold" style="color: rgba(241, 5, 5, 0.973);">Terminated</span>
   {% else %}
    <span class="text-xs text-gray-500 font-semibold" style="color: rgba(36, 31, 31, 0.973);">Ready</span>
   {% endif %}
{%- endmacro %}

{% macro projectState ( project ) -%}
{% if project.state.active %}

<div>
    <div class="uk-button-group">
        <span class="text-md text-green-500 font-semibold mr-2" style="color: green;">Active</span>
        <button class="btn btn-soft btn-info btn-xs tooltip tooltip-bottom tooltip-info" 
        data-tip="Pause this Project!"
        hx-post="/project/{{ project._id }}/state/pause"
        hx-target="#eventstate_console"
        >Pause</button>
        <button 
        class="btn btn-soft btn-primary btn-xs mx-2 tooltip tooltip-info" 
        data-tip="Complete this Project!"
        hx-post="/project/{{ project._id }}/state/complete"
        hx-target="#eventstate_console"
        >Complete</button>                
        <button 
        class="btn btn-soft btn-error btn-xs tooltip tooltip-error" 
        data-tip="Terminate this Project!"
        hx-post="/project/{{ project._id }}/state/terminate"
        hx-target="#eventstate_console"
        >Terminate</button>
        
    </div>
</div>
{% elif project.state.complete %}
<span class="text-md text-green-500 font-semibold" style="color: rgba(15, 135, 233, 0.973);">Completed</span>
{% elif project.state.pause %}

<div>
    <div class="uk-button-group">
        <span class="text-md text-green-500 font-semibold" style="color: rgba(25, 21, 248, 0.979);">Paused</span>        
        <button class="btn btn-soft btn-accent btn-xs mx-2 tooltip tooltip-info" 
        data-tip="Resume this Project's activity!"
        hx-post="/project/{{ project._id }}/state/resume"
        hx-target="#eventstate_console"
        >Resume</button>        
        <button class="btn btn-soft btn-error btn-xs tooltip tooltip-error"
            data-tip="Terminate this Project!"            
            hx-post="/project/{{ project._id }}/state/terminate"
            hx-target="#eventstate_console"
            hx-confirm="You are about to Terminate this Project.">Terminate</button>
    </div>
</div>
{% elif project.state.terminate %}
<span class="text-md text-green-500 font-semibold" style="color: rgba(241, 5, 5, 0.973);">Terminated</span>
{% else %}

<div>
    <div class="uk-button-group">
        <span class="text-xs text-gray-500 font-semibold" style="color: rgba(36, 31, 31, 0.973);">Ready</span>
        <button class="btn btn-soft btn-accent btn-xs mx-2 tooltip tooltip-info"
            data-tip="Activate this Project."
            hx-post="/project/{{ project._id }}/state/activate"
            hx-target="#eventstate_console"
            hx-confirm="You are about to Start this Project's activities.">Activate
        </button>
        
    </div>
</div>
{% endif %}
{%- endmacro %}



{% macro ratings ( rating , flag ) -%}
    {% if rating > 0 %}
        {% for number in range(rating) %}
            {% if flag == 'crew' %}
            <span class="fa fa-star crew"></span>
            {% elif flag == 'worker' %}
            <span class="fa fa-star worker"></span>
            {% elif flag == 'task' %}
            <span class="fa fa-star task"></span>
            {% else %}
            <span class="fa fa-star checked"></span>
            {% endif %}
        {% endfor %}
    {% else %}
    <span class="font-semibold">None</span>
    {% endif %}

{%- endmacro %}