
<ul class="menu  menu-horizontal bg-base-200 rounded-box">
    <li>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 task" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
            Tasks
            <span class="badge badge-xs">{{job.tasks | length }}+</span>
        </a>
    </li>
    <li>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 task" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <button class="btn btn-ghost btn-xs task" popovertarget="popover-2" style="anchor-name:--anchor-1">
                Filter Tasks
            </button>
            <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm" popover id="popover-2"
                style="position-anchor:--anchor-1">
                <li><a disabled>Task category</a></li>
                <li><a hx-get="/project/{{project._id}}/jobfilter/{{ job.id }}-all-task" hx-target="#job_tasks_index"
                        hx-trigger="click">
                        <span class="text-xs bg-base-200 flex flex-row">All </span>
                    </a>
                </li>
                {% for item in job.filter %}
                <li><a hx-get="/project/{{project._id}}/jobfilter/{{ job.id }}-{{item}}-task" hx-target="#job_tasks_index" hx-trigger="click">
                        <span class="text-xs bg-base-200 flex flex-row">{{ item }} </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </span>
    </li>
    
    <li>
        <a href="#add_task_modal" uk-toggle>
            Add Task
            <span class="fa fa-plus fa-fade task" style="--fa-animation-duration: 4s;"></span>
        </a>
    </li>
</ul>
<div id="job_tasks_index" class="text-sm uk-overflow-auto">
   {% include '/components/project/job/task/TaskIndex.html' %}
</div>


<div id="add_task_modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h4 class="uk-modal-title">Add Task</h4>
        </div>
        <div class="uk-modal-body">
            {% include 'components/project/job/task/AddTask.html' %}
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button                
                type="button"
                hx-get="/project/{{job.project_id}}/tasks/{{job.id}}"
                hx-target="#job_tasks" 
                class="btn btn-sm uk-modal-close" 
            >Close Portal</button>
            
        </div>
    </div>
</div>
