<table 
    id="project-rates" 
    class="table table-xs display"
    data-order='[[ 1, "asc" ]]' 
    data-page-length='25'
    
    >
    <thead>
        <tr>

            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Metric</th>
            <th>Imperial</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">

        {% for rate in project.rates %}
        <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">

            <td class="cursor-pointer" 
                hx-get="/project/rate/{{project._id}}/{{ rate._id }}" 
                hx-target="#project_rates"
                hx-trigger="click">{{rate.title }} 
            </td>
                <td class="description">{{ rate.description }}</td>
                <td class="category">{{ rate.category }}</td>
                <td class="metric">{{ rate.metric.price | to_dollars }} /{{ rate.metric.unit }} </td>
                <td class="imperial"> {{ rate.imperial.price | to_dollars }} /{{ rate.imperial.unit }} </td>
                <td class="remove">
                    <button class="btn btn-xs btn-secondary remove-item-btn">Delete</button>
                </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% block extra_scripts %}
<script src="/static/node_modules/jszip/dist/jszip.js"></script>
<script src="/static/node_modules/pdfmake/build/pdfmake.js"></script>

<script>
    
    
        var table = new DataTable('#project-rates', {
            // options
            paging: true,
            scrollY: 400,
            autoFill: true

         });
      
    
           
       
    
    
     
</script>
{% endblock %}