

  <!--div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">      
      <span class="btn btn-ghost text-xl">CentryPlan</span>
    </div>
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> 
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li hx-get="/project/index/i/i" hx-target="#left-bar" trigger="click"><label for="my-drawer" class="btn btn-ghost drawer-button" >
            <span class="fa fa-cubes"></span>Projects</label>
          </li>
          <li>
            <a><span class="fa fa-users"></span> Team</a>
            <ul class="p-2">
              <li><a><span class="fa fa-face-smile"></span>Crews</a></li>
              <li><a><span class="fa fa-user-circle"></span>Staff</a></li>
              <li><a hx-get="/employee/index/all/i" hx-target="#main-display" hx-trigger="click"><span class="fa fa-user-times">                
                </span>Workers</a>
              </li>
            </ul>
          </li>
          <li hx-get="/rate/index/all/i" hx-target="#main-display" hx-trigger="click"><a href="#" ><span class="fa fa-dollar">
            </span>Industry Rates</a>
          </li>
          <li><a hx-get="/supplier/index/all/i" hx-target="#main-display" hx-trigger="click"><span class="fa fa-truck">            
            </span>Suppliers</a>
          </li>
          <li><a><span class="fa fa-wrench"></span>Tools</a>
            <ul class="p-2">
              <li><a 
                href="https://www.google.com/search?client=ubuntu-sn&channel=fs&q=google+calculator&sei=pPsvaIqPBYGEwbkPka3W8Qc" 
                target="_blank">
                <span class="fa fa-calculator"></span>  Calculator</a>
              </li>
              <li><a href="http://centryplan.localhost/dropbox" target="_blank"><span class="fa fa-poo"></span> Dropbox</a></li>
              <li><a href="http://centryplan.localhost/estimate" target="_blank"><span class="fa fa-edit"></span> Estimator</a></li>
              <li><a href="http://centryplan.localhost/todos" target="_blank"><span class="fa fa-list-ol"></span> Todos</a></li>
            </ul>
          </li>
        </ul>
      </div>
      
    </div>

    <div class="navbar-center hidden lg:flex">

      <ul class="menu menu-horizontal px-1">

        <li hx-get="/project/index/i/i" hx-target="#left-bar" trigger="click">
          <label for="my-drawer" class="uk-button uk-button-default uk-button-small drawer-button">
          <span class="fa fa-cubes"></span> Projects</label> 
        </li>

        <li>
          
              <button class="uk-button uk-button-default uk-button-small" type="button"><span class="fa fa-users"></span> Team</button>
              <div uk-dropdown="pos: bottom-center">
                  <ul class="uk-nav uk-dropdown-nav">
                      <li><a><span class="fa fa-face-smile"></span>Crews</a></li>
                    <li><a><span class="fa fa-user-circle"></span>Staff</a></li>
                    <li><a hx-get="/employee/index/all/i" hx-target="#main-display" hx-trigger="click" class="uk-animation-fade">
                      <span class="fa fa-user-times"></span>Workers</a>
                    </li>
                  </ul>
              </div>
            
        </li>

        <li >
          <a class="uk-button uk-button-default uk-button-small"
          hx-get="/rate/index/all/i" hx-target="#main-display" hx-trigger="click"
          >
            <span class="fa fa-dollar">
          </span> Industry Rates
        </a>
        </li>
        
        <li><a class="uk-button uk-button-default uk-button-small"
             hx-get="/supplier/index/all/i" hx-target="#main-display" hx-trigger="click">
            <span class="fa fa-truck"></span> Suppliers</a>
        </li>

        <li>
            
            
              <button class="uk-button uk-button-default uk-button-small" type="button"><span class="fa fa-wrench"></span> Tools</button>
              <div uk-dropdown="pos: bottom-center">
                  <ul class="uk-nav uk-dropdown-nav">
                       <li><a 
                  href="https://www.google.com/search?client=ubuntu-sn&channel=fs&q=google+calculator&sei=pPsvaIqPBYGEwbkPka3W8Qc" 
                  target="_blank"><span class="fa fa-calculator"></span>  Calculator</a>
                </li>
              
              <li><a href="http://centryplan.localhost/estimate" target="_blank"><span class="fa fa-edit"></span> Estimator</a></li>
              <li><a href="http://centryplan.localhost/todos" target="_blank"><span class="fa fa-list-ol"></span> Todos</a></li>
              <li><a href="https://localhost:9092/dropbox" target="_blank"><span class="fa fa-dropbox"></span> Dropbox</a></li>
                  </ul>
              </div>
            

          </li>
          
          <li> <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> 
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">

          <li hx-get="/project/index/i/i" hx-target="#left-bar" trigger="click">
            <label for="my-drawer" class="btn btn-ghost drawer-button"><span class="fa fa-cubes"></span>Projects</label>
          </li>
          
          <li>
            <div class="uk-inline">
              <button class="uk-button uk-button-default uk-button-small" type="button"><span class="fa fa-users"></span> Team</button>
              <div uk-dropdown="pos: bottom-center">
                  <ul class="uk-nav uk-dropdown-nav">
                      <li><a><span class="fa fa-face-smile"></span>Crews</a></li>
                    <li><a><span class="fa fa-user-circle"></span>Staff</a></li>
                    <li><a hx-get="/employee/index/all/i" hx-target="#main-display" hx-trigger="click">
                      <span class="fa fa-user-times"></span>Workers</a>
                    </li>
                  </ul>
              </div>
            </div>
          </li>

          <li hx-get="/rate/index/all/i" hx-target="#main-display" hx-trigger="click">
            <a><span class="fa fa-dollar"></span>Industry Rates</a>
          </li>           

          <li><a hx-get="/supplier/index/all/i" hx-target="#main-display" hx-trigger="click">
            <span class="fa fa-truck"></span>Suppliers</a>
          </li>
          
          <li>
           
          <div class="uk-inline">
              <button class="uk-button uk-button-default uk-button-small" type="button"><span class="fa fa-wrench"></span> Tools</button>
              <div uk-dropdown="pos: bottom-center">
                  <ul class="uk-nav uk-dropdown-nav">
                       <li><a 
                  href="https://www.google.com/search?client=ubuntu-sn&channel=fs&q=google+calculator&sei=pPsvaIqPBYGEwbkPka3W8Qc" 
                  target="_blank"><span class="fa fa-calculator"></span>  Calculator</a>
                </li>
               
              <li><a href="http://centryplan.localhost/estimate" target="_blank"><span class="fa fa-edit"></span> Estimator</a></li>
              <li><a href="http://centryplan.localhost/todos" target="_blank"><span class="fa fa-list-ol"></span> Todos</a></li>
              <li><a href="https://localhost:9092/dropbox" target="_blank"><span class="fa fa-dropbox"></span> Dropbox</a></li>
            
                  </ul>
              </div>
          </div>
           
          </li>
        </ul>
      </div>
           </li>
      </ul>
    </div>
    
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn m-1">User</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <li><a><span class="fa fa-user"></span>Active User</a></li>
          <li><a><span class="fa fa-gear"></span>Settings</a></li>
          <li><div class="tooltip tooltip-info" data-tip="Admin credentials required!">
            
            <a  href="http://127.0.0.1:5984/_utils/" target="blank"><span class="fa fa-database"></span> Admin</a>
          </div>
          </li>
          <li><a href="/register"><span class="fa fa-long-arrow-left"></span>Logout</a></li>
          
        </ul>
      </div>
      
     

    </div>
  </!--div-->
  <div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <span><img src="/static/imgs/icons/favicon.svg" alt="Favicon" width="30px"> </span>
        </div>
        <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><a href="/">Homepage</a></li>
          <li><a>Portfolio</a></li>
          <li><a>About</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">Worksite</a>
    </div>

    <div class="navbar-center">
      <ul class="menu menu-horizontal px-1">
      
        <li hx-get="/project/projects" hx-target="#app" trigger="click">
          <label for="my-drawer" class="uk-button uk-button-default uk-button-small drawer-button">
            <span class="fa fa-cubes"></span> Projects</label>
        </li>
        <li>
          <a class="uk-button uk-button-default uk-button-small" hx-get="/worker/workers" hx-target="#app"
            hx-trigger="click">
            <span class="fa fa-users">
            </span> Team
          </a>
        </li>
      
        <li>
          <a class="uk-button uk-button-default uk-button-small" hx-get="/rate/rates" hx-target="#app"
            hx-trigger="click">
            <span class="fa fa-dollar">
            </span> Industry Rates
          </a>
        </li>
      
        <li><a class="uk-button uk-button-default uk-button-small" hx-get="/supplier/suppliers" hx-target="#app"
            hx-trigger="click">
            <span class="fa fa-truck"></span> Suppliers</a>
        </li>
      </ul>
    </div>

    <div class="navbar-end">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <span>Tools </span>
        </div>
        <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
          <li><a href="https://www.google.com/search?client=ubuntu-sn&channel=fs&q=google+calculator&sei=pPsvaIqPBYGEwbkPka3W8Qc"
              target="_blank"><span class="fa fa-calculator"></span> Calculator</a>
          </li>
          
          <li><a href="http://centryplan.localhost/estimate" target="_blank"><span class="fa fa-edit"></span>
              Estimator</a></li>
          <li><a href="http://centryplan.localhost/todos" target="_blank"><span class="fa fa-list-ol"></span>
              Todos</a></li>
          <li><a href="https://localhost:9092/dropbox" target="_blank"><span class="fa fa-dropbox"></span>
              Dropbox</a></li>
        </ul>
      </div>

      <button class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
      <button class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
          <span class="badge badge-xs badge-primary indicator-item"></span>
        </div>
      </button>
    </div>


  </div>