
<div class="flex-1">
    <a class="btn btn-ghost text-xl" >Account</a>
</div>
<div class="uk-grid">
    <div class="uk-width-1-5@m overflow-y-auto h-96">

        <ul class="uk-nav uk-nav-default uk-nav-divider bg-blue-200 uk-border-rounded uk-padding-small uk-margin" uk-switcher="connect: #account-nav; animation: uk-animation-fade">
            <li><a href="#"><span class="fa fa-clock"></span>Accounting</a></li>
            <li><a href="#"><span class="fa fa-arrow-circle-right"></span> Deposits</a></li>
            <li><a href="#"><span class="fa fa-arrow-circle-left"></span> Withdrawals</a></li>
            <li><a href="#"><span class="fa fa-cart-plus"></span> Expences</a></li>
            <li><a href="#"><span class="fa fa-ticket"></span>Invoices</a></li>
            <li><a href="#"><span class="fa fa-list-ol"></span>Purchase Orders</a></li>            
            <li><a href="#"> <span class="fa fa-dollar"></span> Pay Bills</a></li>
            <li></li>
        </ul>

    </div>
    {% if project.state.active or project.state.complete or project.state.pause or project.state.terminate %}
    <div class="uk-width-expand@m"  >
        <div id="account-nav" class="uk-switcher">
            <div>
                {% include 'components/project/account/Bank.html' %}
            </div> 

            <div id="account-deposits">{% include 'components/project/account/Deposits.html' %}</div> 
            <div id="account-withdrawals">{% include 'components/project/account/Withdrawals.html' %}</div> 
            <div id="account-expences">{% include 'components/project/account/Expences.html' %}</div>
             <div id="account-invoices">{% include 'components/project/account/Invoices.html' %}</div> 
            <div id="account-orders"> {% include 'components/project/account/Orders.html' %}</div>             
            <div id="account-paybills">{% include 'components/project/account/PayBills.html' %}  </div>
        </div>
    </div>
    {% else %}
    {% include '/components/project/account/AccountIntroduction.html' %}
    {% endif %}
</div>
