
<!DOCTYPE html>

<p class="text-md text-center font-semibold">{{title}}</p>
<div class="breadcrumbs text-sm">

    <ul uk-switcher="connect: #account-nav; animation: uk-animation-fade">
        <li><a href="#"><span class="fa fa-clock"></span>Accounting</a></li>
        <li><a href="#"><span class="fa fa-arrow-circle-right"></span> Deposits</a><span
                class="badge badge-success badge-xs">{{ project.account.transactions.deposit | length }}</span></li>
        <li><a href="#"><span class="fa fa-arrow-circle-left"></span> Withdrawals</a><span
                class="badge badge-secondary badge-xs">{{ project.account.transactions.withdraw | length }}</span></li>
        <li><a href="#"><span class="fa fa-cart-plus"></span> Expences</a><span class="badge badge-accent badge-xs">{{
                project.account.expences.expences | length }}</span></li>
        <li><a href="#"><span class="fa fa-ticket"></span>Invoices</a><span class="badge badge-info badge-xs">{{
                project.account.records.invoices | length }}</span></li>
        <li><a href="#"><span class="fa fa-list-ol"></span>Purchase Orders</a><span
                class="badge badge-accent badge-xs">{{
                project.account.records.purchase_orders | length }}</span></li>
        <li><a href="#"> <span class="fa fa-dollar"></span> Pay Bills</a><span class="badge badge-accent badge-xs">{{
                project.account.records.paybills | length }}</span></li>
        <li></li>
    </ul>
</div>
{% if project.state.active or project.state.complete or project.state.pause or project.state.terminate %}
    <div id="account-nav" class="uk-switcher">
            <div>
                {% include 'components/project/account/Bank.html' %}
            </div>
            <div id="account-deposits">{% include 'components/project/account/Deposits.html' %}</div>
            <div id="account-withdrawals">{% include 'components/project/account/Withdrawals.html' %}</div>
            <div id="account-expences">{% include 'components/project/account/Expences.html' %}</div>
             <div id="account-invoices">{% include 'components/project/account/Invoices.html' %}</div>
            <div id="account-orders"> {% include 'components/project/account/Orders.html' %}</div>
            <div id="account-paybills">{% include 'components/project/account/PayBills.html' %}  </div>
    </div>
{% else %}
    {% include '/components/project/account/AccountIntroduction.html' %}
{% endif %}

