
{% if project.account.transactions.deposit %}

 <div id="deposit-result"></div>
<div class="uk-grid-divider uk-child-width-expand@s" uk-grid>

    <div class="card w-[600px] bg-base-100 card-sm shadow-sm">
        <div class="card-body">
            <h2 class="card-title"><a href="#deposit-modal" uk-toggle><span class="text-lg text-blue-500 font-semibold">Deposits </span>    </a></h2>
            <div class="flex flex-col text-xs overflow-y-auto sm:overflow-x-auto h-auto p-1">
                <table 
                    id="deposits"
                    class="table table-sm font-medium text-gray-800 uppercase"
                    data-order="[[ 1, 'asc' ]]" 
                    data-page-length="25"                
                >
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Ref</th>
                            <th>Payee</th>
                            <th>Amount</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in project.account.transactions.deposit |reverse %}
                        <tr>
                            <td>{{ d.date | convert_timestamp }}</td>
                            <td>{{ d.ref }} </td>
                            <td>{{ d.payee }} </td>
                            <td>{{ d.amount | to_dollars }}</td>
                            <td>
                                <span class="tooltip cursor-pointer" data-tip="Delete deposit?"
                                    hx-delete="/Project/{{project._id}}/deposit/{{d.id}}"
                                    hx-confirm="Are you shure you want to delete deposit {{d.ref}}?" hx-target="#account-deposits"
                                    hx-trigger="click"><span class="fa fa-trash"></span></span>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>Total Deposits to Date</td>
                            <td></td>
                            <td></td>
                            <td><strong>{{ project.account.transactions.deposit | tally | to_dollars }}</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="justify-end card-actions">
                <button type="button" class="btn btn-primary">Print</button>
            </div>
        </div>
    </div>

    <div class="bg-base-100 shadow-md rounded-md">
        <p class="text-sm text-center font-semibold">Deposit Analytics</p>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid>
            <div>
                <div class="card card-xs mr-5">
                    <p class="text-sm text-center font-semibold">Deposit Frequency Map</p>
                    <div id="heatmap" hx-get="/project/heatmap/{{project._id}}" hx-target="#heatmap" hx-trigger="load, click delay:1s">
                        HeatMap </div>
                </div>
            </div>
            <div>
                <div class="card card-xs">
                    <p class="text-sm text-center font-semibold">Deposit Periods Agregate</p>
                    <div id="deposit_histogram" hx-get="/project/deposit_histogram/{{project._id}}"
                        hx-target="#deposit_histogram" hx-trigger="load, click delay:2s"></div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="bg-base-100 my-5 shadow-md rounded-md">
    <p class="text-sm text-center font-semibold">Deposit Activity Calendar</p>
    <div id="deposit_calendar" class="uk-card uk-card-default uk-card-body"
        hx-get="/project/deposit_calendar/{{project._id}}" hx-target="#deposit_calendar"
        hx-trigger="load, click delay:3s">
    </div>
</div>


{% else %}
<p class="text-lg">You Need To Fund This Project! </p><br>
<a href="#deposit-modal" uk-toggle>Deposit Funds</a>
{% endif %}

<!-- This is the Deposit modal -->
<div id="deposit-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body rounded-lg">
        <p class="text-lg text-center font-semibold">Project Account Deposit</p>
        <form 
            hx-post="/Project/{{project._id}}/deposit/i"
            hx-target="#account-deposits"
            hx-trigger="submit"                        
            class="uk-grid-small" 
            uk-grid
            >
            <div class="uk-width-1-1">
                <input class="uk-input" type="date" placeholder="Date" name="date" aria-label="Date">
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Transaction Type" value="deposit" name="type" aria-label="Deposit">
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" placeholder="Refference" name="ref" aria-label="Ref">
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="number" step="0.01" placeholder="Amount" name="amount" aria-label="$">
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Payee" name="payee" aria-label="Payee">
            </div>
            
    
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary rounded-md uk-modal-close" type="submit" >Deposit Funds</button>
            </p>
        </form>
       
    </div>
</div>

{% block extra_scripts %}
<script>
    var table = new DataTable('#deposits', {
        // options
        paging: true,
        scrollY: 400,
        autoFill: true

    });
</script>
{% endblock %}