
{% if project.account.records.salary_statements %}
 
<button class="btn btn-xs btn-accent" type="button" uk-toggle="target: #paystatement_modal"
    hx-get="/processSalary/{{project._id}}" hx-target="#pay_console">Pay Statement</button>
 <div id="statement-result"></div>
<div class="overflow-x-auto">
    <table class="table table-xs text-xs">
        <thead>
            <tr>
                <th>Bill Ref</th>
                <th>Employee</th>
                <th>Date</th>
                <th>Items Count</th>
                <th>Amount</th>
                <th>Deduction</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in project.account.records.salary_statements %}
            <tr>
               
                <td>{{item.bill_ref}}</td>
                <th>{{item.employee_id}} </th>
                
                <td>{{item.date | to_date }}</td>
                <td>{{item['items'] | length }}</td>
                <td>{{item.get("payment", {}).get("amount", 0) | to_dollars }}</td>
                <td>{{item.get("payment", {}).get("deductions", 0) | to_dollars}}</td>
                <td>{{item.get("payment", {}).get("total", 0) | to_dollars}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p class="text-lg">Records Unavailable!</p><br>
 <p class="text-sm">You Need To create and settle a paybill<br> pay statements will appear here.</p><br>
<!a--! href="#statement-modal" uk-toggle>Record Statement</!a--!>


<button 
    class="btn btn-xs btn-accent" type="button"    
    uk-toggle="target: #paystatement_modal"
    hx-get="/processSalary/{{project._id}}"
    hx-target="#pay_console"    
    >Pay Statement</button>
{% endif %}

<p class="text-xs text-blue-500">{{project.account.records.salary_statements}}</p>

<!-- This is the statement modal -->
<div id="statement-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body rounded-lg">
        
       
       
    </div>
</div>


<div id="paystatement_modal" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <p class="text-lg text-center font-semibold">Pay Statement</p>
        <div id="pay_console"></div>
    </div>
</div>
