<form class="uk-grid-small" uk-grid>
    <div class="uk-width-1-2">
        <input class="uk-input" type="text" placeholder="Project Id"
        name="project" aria-label="Prj" value="{{project}}">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Bill Refference"
        name="bill_ref" aria-label="Bill">
    </div>
    <div class="uk-width-1-4@s">
        <input class="uk-input" type="text" placeholder="Employee Id" aria-label="25" name="employee_id" aria-label="Prj" value="{{worker._id}}">
    </div>
    <div class="uk-width-1-4@s">
        <input class="uk-input" type="date" placeholder="Date" name="date" aria-label="Date" >
    </div>
    
</form>