<p class="text-lg text-blue-500 font-semibold">Account Statistics </p>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <div class="">
        <iframe src="/project/piechart/{{project._id}}" title="Account Statistics" width="420" height="280"></iframe>
        </div>
    </div>
    <div>
        <div class="uk-text-center" uk-grid>
            <div class="stats bg-base-100 border-base-300 border flex flex-row">
                <div class="stat">
                    <div class="text-md ">Project Budget</div>
                    <div class="stat-value text-xl font-bold">{{project.account.budget | to_dollars}}</div>
            
                </div>
            
                <div class="stat">
                    <div class="stat-title text-md">Budget Balance </div>
                    <div class="text-xl font-bold">{{project.account.budget_balance | to_dollars}}</div>
            
                </div>
            
            </div>
            <div class="stats bg-base-100 border-base-300 border flex flex-row">
                <div class="stat">
                    <div class="text-md ">Account Deposits</div>
                    <div class="stat-value text-xl font-bold">{{project.account.deposits | to_dollars}}</div>
            
                </div>
            
                <div class="stat">
                    <div class="stat-title text-md">Current balance</div>
                    <div class="text-xl font-bold">{{project.account.current_balance | to_dollars}}</div>
            
                </div>
            
            </div>
            
            <div class="stats bg-base-100 border-base-300 border flex flex-row">
            
                <div class="stat">
                    <div class="stat-title">Witdrawals</div>
                    <div class="stat-value text-xl font-bold">{{project.account.withdrawals | to_dollars}}</div>
            
                </div>
            
                <div class="stat">
                    <div class="stat-title">Expences</div>
                    <div class="stat-value text-xl font-bold">{{project.account.expences | to_dollars}}</div>
            
                </div>
            </div>
            <div class="stats bg-base-100 border-base-300 border flex flex-row">
            
                <div class="stat">
                    <div class="stat-title">Purchases</div>
                    <div class="stat-value text-xl font-bold">{{project.account.invoices | to_dollars}}</div>
                </div>
            
                <div class="stat">
                    <div class="stat-title">Paybills</div>
                    <div class="stat-value text-xl font-bold">{{project.account.paybills | to_dollars}}</div>
            
                </div>
            
            </div>

        </div>
        
    </div>
   
</div>
