<div id="unpaid-tasks">
    
    <div class="breadcrumbs text-sm">
        <ul class="animation: uk-animation-fade">
            <li>
                <span class="inline-flex items-center gap-2">
                <span class="font-semibold">Unpaid Tasks</span>
                 <span class="badge badge-primary badge-sm">{{ unpaid_tasks | length }}</span>
                </span>
            </li>
    
            <li>
                <span class="inline-flex items-center gap-2">
                    <span>Project</span> 
                    <span class="badge badge-primary badge-sm">{{paybill.project_id}}</span>
                </span>
                
            </li>
            <li>
                <span class="inline-flex items-center gap-2">
                <span>Paybill</span>
                <span class="badge badge-primary badge-sm">{{paybill.id}}</span>
                </span>
            </li>
            
    
        </ul>
    </div>
     <div class="flex flex-col text-xs overflow-y-auto sm:overflow-x-auto h-96 p-1">
        {% if unpaid_tasks %}
            <table class="uk-table uk-table-small uk-table-responsive">
                <thead>
                    <tr>
                        <td>Select</td>
                        <td>Id</td>
                        <td>Title</td>
                        <td>Progress</td>
                        <td>Pay out</td>
                    </tr>
                </thead>
                <tbody>
                    {% for task in unpaid_tasks %}
                    <tr>
                        <td>   <div class="uk-margin ">
                    
                                <label><input 
                                    class="uk-radio uk-primary" 
                                    type="radio" 
                                    name="task"
                                    hx-post="/Project/{{paybill.project_id}}/billtask/{{paybill.id}}_{{task.id}}"
                                    hx-target="#add-item" 
                                    hx-trigger="click" 

                                    > Select</label>
                            
                            </div>
                        </td>
                        <td>{{ task.id}}</td>
                        <td>{{ task.title}}</td>
                        <td>{{ task.progress}}%</td>
                        <td>{{ task.metric.total | to_dollars }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p class="text-lg text-center text-orange-600 font-semibold">There are no available tasks to add to the Bill.</p>
        {% endif %}
     
   

    </div>
   
</div>
