<div>
<form class="mx-auto flex w-full max-w-lg flex-col text-xs p-4 sm:p-20"
    hx-post="/rate/save"
    hx-target="#industrialrates"
    prevent-default>
    <div class="form-group">
        <div class="flex w-full flex-col gap-2">
            <div class="form-field">
                <label class="form-label">Title </label>
                <input type="text" name="title" placeholder="Title here"  class="input input-xs max-w-full" />
            </div>
            <div class="form-field">
                <label class="form-label">
                    <span>Description</span>
                </label>
                <div class="form-control">
                    <input placeholder="Description here" type="textarea" name="description" class="input input-xs max-w-full" />
                </div>
            </div>
            <div class="form-field">
                <label class="form-label">
                    <span>Category</span>
                </label>
                <div class="form-control">
                    <input id="rcat" placeholder="Category here" type="textarea" name="category"
                        class="input input-xs max-w-full" value="" />
                    <select class="select select-info select-xs" name="category" value="Category"
                        oninput="this.form.rcat.value=this.value">
                        <option>Select Category</option>
                        {% for category in rate_categories %}
                        <option>{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="flex flex-col mx-2 my-5">
                    <p class="text-xs">Metric Properties</p>
                    <div class="form-field">
                        <label class="form-label">
                            <span>Unit</span>
                        </label>
                        <div class="form-control">
                            <input placeholder="Metric Unit here" type="text" name="metric_unit"
                                class="input input-xs max-w-full" />
                        </div>
                    </div>
                    <div class="form-field">
                        <label class="form-label">
                            <span>Price Per Unit</span>
                        </label>
                        <div class="form-control">
                            <input placeholder="Price here" type="number" step="0.01" name="metric_price"
                                class="input input-xs max-w-full" />
                        </div>
                    </div>
                    <div class="form-field">
                        <label class="form-label">
                            <span>Output</span>
                        </label>
                        <div class="form-control">
                            <input placeholder="Output here" type="number" step="0.01" name="metric_output"
                                class="input input-xs max-w-full" />
                        </div>
                    </div>


                </div>
                <div class="flex flex-col mx-2 my-5">
                    <p class="text-xs">Imperial Properties</p>
                    <div class="form-field">
                        <label class="form-label">
                            <span>Unit</span>
                        </label>
                        <div class="form-control">
                            <input placeholder="Imperial Unit here" type="text" name="imperial_unit"
                                class="input input-xs max-w-full" />
                        </div>
                    </div>
                    <div class="form-field">
                        <label class="form-label">
                            <span>Price Per Unit</span>
                        </label>
                        <div class="form-control">
                            <input placeholder="Price here" type="number" step="0.01" name="imperial_price"
                                class="input input-xs max-w-full" />
                        </div>
                    </div>
                    <div class="form-field">
                        <label class="form-label">
                            <span>Output</span>
                        </label>
                        <div class="form-control">
                            <input placeholder="Output here" type="number" step="0.01" name="imperial_output"
                                class="input input-xs max-w-full" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-field pt-5">
                <div class="form-control justify-between my-2">
                    <button type="submit" class="btn btn-primary w-full uk-modal-close">Create New Rate</button>
                </div>
                <form method="dialog">
                    <!-- if there is a button, it will close the modal -->
                    <button class="btn btn-ghost w-full">Cancel </button>
                </form>
            </div>
            
        </div>
</form>

</div>