<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        {% if rate.category %}
        <span class="uk-badge">Category {{ rate.category }}</span>
        {% else %}
        <select class="select select-ghost" name="category" id="category">
            <option disabled selected>Category</option>
            {% for item in rate_categories %}
            <option>{{ item }}</option>
            {% endfor %}
        </select>
       
        
        {% endif %}
        
    </div>
    <div class="text-md font-bold">
        <!--p class="uk-text-meta uk-margin-remove-top"> {{ rate.title }} </!--p-->
        <input id="title" name="title" value="{{rate.title }}" style="width: 486px">

    </div>
    <div>
        <div class="btn-group btn-group-rounded btn-group-scrollable">
            <button class="btn btn-primary  btn-sm" type="button" uk-toggle="target: #add-to-project">Add to
                Project</button>
            <button class="btn btn-secondary  btn-sm" type="button" uk-toggle="target: #clone-rate">Clone</button>
            <button class="btn btn-error  btn-sm" hx-delete="/industry_rate/{{rate._id}}" hx-target="#dash-content-pane"
                hx-confirm="Are you shure you want to DELETE RATE {{rate.title}}">Delete</button>
        </div>
    </div>
</div>
<div class="uk-child-width-expand@s uk-text-center" uk-grid>

    <table class="uk-table uk-table-small">
        <thead>
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Metric</th>
                <th>Imperial</th>
                <th>Action</th>
                <th>Manage</th>
            </tr>
        <tbody>
            <tr>
                <td>{{ rate.id }}</td>
                <td><textarea class="textarea textarea-xs" id="rate-description" name="description" rows="4" cols="30">{{ rate.description }}
                    </textarea></td>
                <td>
                    <div class="flex flex-row">
                        <input class="input input-xs" id="metric-price" name="metric_price" value="{{rate.metric.price }}" style="width: 86px">
                        <span class="badge">per</span>
                        <input class="input input-xs" id="metric-unit" name="metric_unit" value="{{rate.metric.unit}}" style="width: 60px">
                    </div>
                </td>
                <td>
                    <div class="flex flex-row">
                        <input class="input input-xs" id="imperial-price" name="imperial_price" value="{{rate.imperial.price }}"
                            style="width: 86px">
                        <span class="badge">per</span>
                        <input class="input input-xs" id="imperial-unit" name="imperial_unit" value="{{rate.imperial.unit}}"
                            style="width: 60px">
                    </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </td>
                <td></td>
            </tr>

        </tbody>
        </thead>
    </table>

    <div>

    </div>
</div>
<!--p class="text-xs">{{rate}}</!--p-->