<!DOCTYPE html>

<div id="rates-navbar" class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <span hx-get="/rates/index" hx-target="#app" class="cursor-pointer">Industry Rates</span>-<span class="badge badge-info badge-xs">{{rates | length}}</span>
    <ul class="menu menu-horizontal px-1">
      <li><a class="btn btn-ghost btn-xs text-sm" onclick="add_rate_modal.showModal()"><span class="fa fa-home"></span> Create
          Rate</a>
      </li>
      <li>
        <button class="btn btn-ghost btn-xs" type="button">Filter</button>
        <div uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav-header">Rate Category</li>
            {% for cat in rate_categories %}
            <li hx-get="/rate/index/{{cat}}" hx-target="#app" hx-trigger="click">{{cat}}</li>
            {% endfor %}
          </ul>
        </div>
      </li>
      <li><button type="button" class="btn btn-ghost btn-xs"><span id="filter">{{filter}}</span></button></li>
    </ul>
  </div>
  <div class="navbar-center hidden lg:flex">
    {% if filter == 'all' %}
   <p class="text-center font-semibold">Industrial Rates</p>
    {% else %}
    <p class="text-center font-semibold"> {{filter | capitalize }} Rates</p>
    {% endif %}
  </div>
  <div class="navbar-end mr-5">
    <div class="flex-none">
      <button type="button" class="btn btn-sm btn-ghost tooltip tooltip-top" data-tip="Amout Rates"
        hx-get="/rate/about" 
        hx-target="#industry-rates">
        <span class="fa fa-home rate"></span>About
      </button>
      <button type="button" class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Collaborate with others"
        hx-post="/rate/share/sheet" hx-target="#message"
        hx-confirm="You are about to give access to this project's sensitive information and management with another user. Are you shure you want to do that? This action can be undone."
        aria-label="Collaborate with others">
        <span class="fa fa-share-alt rate"></span>
      </button>
      <button type="button" class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Archive Rates"
        hx-get="/rates/archive/{{filter }}" hx-target="#message"
        hx-confirm="Are you sure you want to put this rate sheet in the Archives? You can recover it at a later time if desired."
        aria-label="Archive Rates">
        <span class="fa fa-archive rate"></span>
      </button>
      <button type="button" class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Print Rates"
        hx-get="/rates/print/{{filter }}" hx-target="#message"
        hx-confirm="Are you sure you want to print this rate sheet?"
        aria-label="Print Rates">
        <span class="fa fa-print rate"></span>
      </button>
      <button type="button" class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Clone Rates"
        hx-post="/rates/clone/{{filter }}" hx-target="#message"
        hx-confirm="Are you sure you want to clone this rate sheet? This action cannot be undone."
        aria-label="Clone Rates">
        <span class="fa fa-clone fa-fade rate"></span>
      </button>
      <button type="button" class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Export To Excel!"
        id="button-excel" onclick="exportExcel()"
        aria-label="Export To Excel">
        <span class="fa fa-file-excel rate"></span>
      </button>
    </div>
  </div>
</div>

<div class="uk-grid-divider uk-child-width-expand@m" uk-grid>
  <div class="uk-width-expand@m">
    <div class="card  bg-base-100 card-md shadow-sm">
      <div class="card-body">
        <div id="industrialrates" class="overflow-y-auto h-auto p-5">
          {% include '/components/rate/industrialRatesTable.html' %}
        </div>
        <div class="justify-end card-actions">
          <button type="button" class="btn btn-primary">Print</button>
        </div>
      </div>
    </div>
  </div>
  <div class="uk-width-1-3@m">
    <div class="bg-base-100 shadow-md rounded-md">
      <p class="text-sm text-center font-semibold">Industrial Rates Statistics</p>
    </div>
  </div>
</div>
<dialog id="add_rate_modal" class="modal">
  <div class="modal-box w-11/12 ">
    <p class="text-sm text-center font-bold">Create New Industry Rate</p>
    {% include '/components/rate/RateForm.html' %}
  </div>
</dialog>

{% block extra_scripts %}
<script>
  var table = new DataTable('#industrialrates-table', {
    // options
    paging: true,
    scrollY: 400,
    autoFill: true

  });

</script>
{% endblock %}
