<div class="bg-gray-800 uk-inline" style="width: 1525px; height:900px;">
        <div class="card card-border bg-gray-300 w-96 uk-position-center">
        <div class="card-body items-center text-center">
                <h2 class="card-title text-gray-50 text-center opacity-75 font-bold">Project is Locked!</h2>
                <input type="password" placeholder="Password" name="password" class="input input-secondary input-xs">
                <p>This project is currently locked. Enter your password to unlock the project and make changes or view sensitive
                                        information.</p>
                
        </div>  
        </div>        
    
</div>