<div id="suppliers-navbar" class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
      <span hx-get="/suppliers/index" hx-target="#app" class="cursor-pointer">Suppliers</span>-<span
        class="badge badge-info badge-xs">{{suppliers | length}}</span>
      <ul class="menu menu-horizontal px-1">
  
        <li><a class="btn btn-ghost btn-xs text-sm" onclick="add_supplier_modal.showModal()"><span class="fa fa-home"></span>
            Create
            Supplier</a>
        </li>
        <li><label class="input input-xs input-info rounded-md">
            <span class="fa fa-search"></span>
            <input type="search" name="supplier_search_term" placeholder="Search" />
          </label>
        </li>
        <li>
  
          <button class="btn btn-ghost btn-xs" type="button">Filter</button>
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
  
              <li class="uk-nav-header">Location</li>
              {% for place in locations %}
              <li hx-get="/supplier/index/{{place}}" hx-target="#app" hx-trigger="click"><a>{{place}}</a></li>
              {% endfor %}
              <li><a href="#"></a></li>
            </ul>
          </div>
        </li>
        <li><button class="btn btn-ghost btn-xs"><span id="filter">{{filter}}</span></button></li>
  
      </ul>
    </div>
    <div class="navbar-center hidden lg:flex">
      {% if filter == 'all' %}
      <p class="text-center font-semibold">Materials and Products Suppliers</p>
      {% else %}
      <p class="text-center font-semibold"> Materials and Products Suppliers from {{filter | capitalize }} </p>
      {% endif %}
  
    </div>
    <div class="navbar-end mr-5">
      <div class="flex-none">
  
  
        <button class="btn btn-sm btn-ghost tooltip tooltip-top" data-tip="About Suppliers" hx-get="/supplier/about"
          hx-target="#suppliers-index">
          <span class="fa fa-home rate"></span>About
        </button>
  
        <button class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Collaborate with others"
          hx-post="/supplier/share/sheet" hx-target="#message"
          hx-confirm="You are about to give access to this project's sensitive information and management with another user. Are you shure you want to do that? This action can be undone.">
          <span class="fa fa-share-alt rate"></span>
        </button>
        <button class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Archive Suppliers"
          hx-get="/supplier/archive/{{filter }}" hx-target="#message"
          hx-confirm="Are you sure you want to put this supplier sheet in the Archives? You can recover it at a later time if desired.">
          <span class="fa fa-archive rate"></span>
        </button>
        <button class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Print Suppliers" hx-get="/supplier/print/{{filter }}"
          hx-target="#message" hx-confirm="Are you sure you want to print this supplier sheet?">
          <span class="fa fa-print rate"></span>
        </button>
        
        <button class="btn btn-sm btn-circle tooltip tooltip-top" data-tip="Export To Excel!" id="button-excel"
          onclick="exportExcel()">
          <span class="fa fa-file-excel rate"></span>
        </button>
      </div>
    </div>
</div>

  <div id="suppliers-index" class="overflow-y-auto sm:overflow-x-auto h-[42rem] p-5">
    {% include 'components/supplier/suppliersTable.html' %}
    
  </div>

<dialog id="add_supplier_modal" class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h3 class="text-lg font-bold">Register New Supplier</h3>
    {% include 'components/supplier/addSupplierForm.html' %}
   
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>