<table id="suppliers_index_table" class="table table-xs ">
    <caption class="my-2 font-semibold text-center text-lg">Materials and Products Suppliers</caption>
    
    
    
    <thead>
        <tr>
            <th>Name </th>
            <th>TRN</th>
            <th>Tel</th>
            <th>Email</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td class="tooltip tooltip-info px-2 py-2 whitespace-wrap text-sm font-medium text-gray-800 dark:text-gray-200 cursor-pointer" data-tip="Go to Supplier {{supplier._id}}"
                hx-get="/supplier/{{supplier._id}}" hx-target="#app" hx-trigger="click">{{ supplier.name }}
            </td>
            <td class="px-4 py-2 whitespace-wrap text-sm text-gray-800 dark:text-gray-200">{{ supplier.taxid }}</td>
            <td class="px-4 py-2 whitespace-wrap text-sm text-gray-800 dark:text-gray-200">{{ supplier.contact.tel }}</td>
            <td class="px-4 py-2 whitespace-wrap text-sm text-gray-800 dark:text-gray-200"> {{ supplier.contact.email }}</td>
            <td class="tooltip tooltip-info" data-tip="Click to activate Location and distance tracking">
                {% if filter == 'all' %}
                {{ supplier.address.city_parish }}
                {% else %}
                {{ supplier.address.town }}
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>