<!DOCTYPE html>
<table 
    id="suppliers-table" 
    class="table table-sm font-medium text-gray-800 dark:text-gray-200"
    data-order="[[ 1, &quot;dsc&quot; ]]"
    data-page-length="25"    
    >
    <thead>
        <tr>
            <th>Name </th>
            <th>TRN</th>
            <th>Tel</th>
            <th>Email</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td ><span 
                    class="tooltip tooltip-info cursor-pointer" 
                    data-tip="Go to Supplier {{supplier._id}}"
                    hx-get="/supplier/{{supplier._id}}" 
                    hx-target="#app" 
                    hx-trigger="click">{{ supplier.name }}
                </span>
            </td>
            <td>{{ supplier.taxid }}</td>
            <td>{{ supplier.contact.tel }}</td>
            <td> {{ supplier.contact.email }}</td>
            <td>
                <span class="tooltip tooltip-info" data-tip="Click to activate Location and distance tracking">
                {% if filter == 'all' %}
                {{ supplier.address.city_parish }}
                {% else %}
                {{ supplier.address.town }}
                {% endif %}
                </span>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>